.container
  .page-header
    %h1 Change your password
  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |form|
    = devise_error_messages!
    = form.hidden_field :reset_password_token
    = form.input :password, input_html: { class: 'form-control' }
    = form.input :password_confirmation, input_html: { class: 'form-control' }
    %p.text-right
      = form.submit 'Change my password', class: 'btn btn-primary'

  = render 'quadro/users/shared/links'
