!!!
%html(lang="#{I18n.locale}" prefix="og: http://ogp.me/ns#")
  %head
    %meta(charset='utf-8')
    %meta(content='width=device-width, initial-scale=1.0' name='viewport')
    %title= meta_title(page.try(:title))
    %meta(content="#{meta_description(page.try(:description))}" name="description")
    %meta(content="#{meta_author(page.try(:author))}" name="author")
    = yield :opengraph
    = stylesheet_link_tag 'quadro/application'
    = favicon_link_tag 'quadro/favicon.ico'
    = csrf_meta_tags
  %body(class="#{(user_signed_in? ? 'quadro-signed-in' : '')}")
    = yield
    - if user_signed_in?
      = render 'quadro/shared/toolbar'
      = render 'quadro/shared/modal'
    = javascript_include_tag 'quadro/application'
