!!!
%html(lang="#{I18n.locale}" prefix="og: http://ogp.me/ns#")
  %head
    %meta(charset='utf-8')
    %meta(content='width=device-width, initial-scale=1.0' name='viewport')
    = stylesheet_link_tag 'quadro/application'
    = favicon_link_tag 'quadro/favicon.ico'
    = csrf_meta_tags
  %body
    = yield
