.container
  .page-header
    %h1 Log in
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |form|
    = form.input :email, input_html: { class: 'form-control' }
    = form.input :password, input_html: { class: 'form-control' }
    - if devise_mapping.rememberable?
      = form.input :remember_me
    %p.text-right
      = form.submit 'Log in', class: 'btn btn-primary'

  = render 'quadro/users/shared/links'
