= simple_form_for page, remote: true do |form|
  = hidden_field_tag :is_root, true if page.is_root?
  = form.input :title, input_html: { class: 'form-control' }
  = form.input :description, input_html: { class: 'form-control' }
  = form.input :template, collection: page.templates, input_html: { class: 'form-control' }
  %p.text-right
    = form.submit class: 'btn btn-primary'
