= simple_form_for page, multipart: true, remote: true do |form|
  - form.object.build_cover if form.object.cover.nil?
  = hidden_field_tag :is_root, true if page.is_root?
  .row
    .col-md-4
      .fileinput.fileinput-new(data-provides="fileinput")
        .fileinput-new.thumbnail
          = image_tag form.object.cover.url(:small)
        .fileinput-preview.fileinput-exists.thumbnail
        .text-center
          %span.btn.btn-default.btn-file
            %span.fileinput-new Select cover
            %span.fileinput-exists Change
            = form.simple_fields_for :cover do |cover|
              = cover.input_field :attachment
          %a.btn.btn-default.fileinput-exists(data-dismiss="fileinput" href="#") Remove
    .col-md-8
      = form.input :title, input_html: { class: 'form-control' }
      = form.input :description, as: :text, input_html: { class: 'form-control', rows: 2 }
      = form.input :author, input_html: { class: 'form-control' }
  .row
    .col-md-4
      = form.input :template, collection: page.templates, input_html: { class: 'form-control' }
    .col-md-4
      = form.input :frequency, collection: Quadro::Page::SITEMAP_FREQUENCY, input_html: { class: 'form-control' }
    .col-md-4
      = form.input :priority, collection: Quadro::Page::SITEMAP_PRIORITY, input_html: { class: 'form-control' }
  %p.text-right
    = form.submit class: 'btn btn-primary'
