.modal-header
  %button.close(data-dismiss="modal" type="button")
    %span(aria-hidden="true") ×
    %span.sr-only Close
  %h4.modal-title Edit page
.modal-body
  = simple_form_for page, multipart: true, remote: true do |form|
    - form.object.build_cover if form.object.cover.nil?
    = hidden_field_tag :is_root, true if page.is_root?
    .row
      .col-md-4
        .fileinput.fileinput-new(data-provides="fileinput")
          .fileinput-new.thumbnail
            = image_tag form.object.cover.url(:large)
          .fileinput-preview.fileinput-exists.thumbnail
          .text-center
            %span.btn.btn-default.btn-file
              %span.fileinput-new Select cover
              %span.fileinput-exists Change
              = form.simple_fields_for :cover do |cover|
                = cover.input_field :attachment
            %a.btn.btn-default.fileinput-exists(data-dismiss="fileinput" href="#") Remove
      .col-md-8
        = form.input :title, input_html: { class: 'form-control' }
        = form.input :summary, as: :text, input_html: { class: 'form-control', rows: 2 }
        .row
          .col-md-6
            = form.input :author_id, collection: users, input_html: { class: 'form-control' }, include_blank: false
          .col-md-6
            = form.input :published_at, as: :string, input_html: { class: 'form-control' }
    .row
      .col-md-4
        = form.input :template, collection: page.templates, input_html: { class: 'form-control' }
      .col-md-4
        = form.input :frequency, collection: Quadro::Page::SITEMAP_FREQUENCY, input_html: { class: 'form-control' }
      .col-md-4
        = form.input :priority, collection: Quadro::Page::SITEMAP_PRIORITY, input_html: { class: 'form-control' }
    .text-right
      = form.submit class: 'btn btn-primary'
