.media
  .media-left
    = link_to page_path(page), class: "media-object img-thumbnail" do
      = image_tag "http://placehold.it/200x200"
  .media-body
    %h4.media-heading
      = link_to page_path(page) do
        = page.title
    %p= page.description
