= render "quadro/shared/templates/#{page.template}", page: page

= content_for :opengraph do
  %meta(content="#{page.title}" property="og:title")
  %meta(content="#{page.description}" property="og:description")
  %meta(content="article" property="og:type")
  %meta(content="#{root_url}" property="og:url")
  %meta(content="#{ENV['host']}#{page.cover.url(:large) rescue ''})}" property="og:image")
