= render 'quadro/shared/navigation'

.container
  = render_crumbs

  .row
    .col-md-3
      = navigation_for page, class: "nav nav-pills nav-stacked"
    .col-md-9
      .page-header
        %h1= page.title

      %p.lead= page.summary

      = widget_for :content
