= render 'quadro/shared/navigation'

.container
  = render_crumbs

  - if page.has_children?
    .row
      .col-md-3
        = navigation_for page, class: "nav nav-pills nav-stacked"
      .col-md-9
        = render 'quadro/shared/page_header'

        = render 'quadro/shared/page_content'
  - else
    = render 'quadro/shared/page_header'

    = render 'quadro/shared/page_content'
