.container
  = render_crumbs
  .row
    .col-md-3
      %ul.nav.nav-pills.nav-stacked
        - unless page.is_childless?
          - page.children.each do |p|
            %li
              = link_to page_path(p) do
                = p.title
    .col-md-9
      .page-header
        %h1= page.title

      %p.lead= page.description
