.widget.widget-gallery
  .row
    .col-xs-6.col-sm-3.col-md-2
      = link_to "http://placehold.it/800x600", class: "thumbnail", data: { lightbox: "example" } do
        = image_tag "http://placehold.it/200x200"
    .col-xs-6.col-sm-3.col-md-2
      = link_to "http://placehold.it/800x600", class: "thumbnail", data: { lightbox: "example" } do
        = image_tag "http://placehold.it/200x200"
    .col-xs-6.col-sm-3.col-md-2
      = link_to "http://placehold.it/800x600", class: "thumbnail", data: { lightbox: "example" } do
        = image_tag "http://placehold.it/200x200"
    .col-xs-6.col-sm-3.col-md-2
      = link_to "http://placehold.it/800x600", class: "thumbnail", data: { lightbox: "example" } do
        = image_tag "http://placehold.it/200x200"
    .col-xs-6.col-sm-3.col-md-2
      = link_to "http://placehold.it/800x600", class: "thumbnail", data: { lightbox: "example" } do
        = image_tag "http://placehold.it/200x200"
    .col-xs-6.col-sm-3.col-md-2
      = link_to "http://placehold.it/800x600", class: "thumbnail", data: { lightbox: "example" } do
        = image_tag "http://placehold.it/200x200"
