.container
  .row
    .col-xs-10.col-sm-8.col-md-4.col-xs-offset-1.col-sm-offset-2.col-md-offset-4
      .panel.panel-default
        .panel-heading.text-center
          = image_tag 'quadro/quadro-logo.png'
        .panel-body
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form|
            = devise_error_messages!
            = form.input :email, input_html: { class: 'form-control' }
            = form.submit t('devise.passwords.new.send_me_reset_password_instructions'), class: 'btn btn-primary btn-block'
          %br
          = render 'users/shared/links'
