.container
  .row
    .col-md-4.col-md-offset-4
      .panel.panel-default
        .panel-heading.text-center
          = image_tag 'quadro/quadro-logo-text.png'
        .panel-body
          = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form|
            = devise_error_messages!
            = form.input :email, input_html: { class: 'form-control' }
            = form.submit 'Send me reset password instructions', class: 'btn btn-primary btn-block'
          %br
          = render 'users/shared/links'
