= render 'quadro/shared/navigation'

.container
  = render_crumbs

  .page-header
    %h1= page.title

  %p.lead= page.summary

  = widget_for :content

  = widget_for :slider, type: :slider

  = widget_for :gallery, type: :gallery

  = widget_for :map, type: :map

  = widget_for :form, type: :form

  = widget_for :video, type: :video

  = render subpages

  = paginate subpages
