%nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
      %button.navbar-toggle.collapsed(data-target='#navigation' data-toggle='collapse' type='button')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        = Quadro.config.site
    #navigation.collapse.navbar-collapse
      = navigation_for root, class: "nav navbar-nav navbar-right"
      - unless user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to new_user_session_path, rel: "nofollow" do
              = t('navigation.sign_in')
