%nav#quadro-toolbar.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
  .container-fluid
    #quadro-uploader
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'quadro/quadro-logo-mini.png'
    %ul#quadro-pages.nav.navbar-nav.navbar-left
      %li
        = link_to new_page_path, remote: true do
          %i.fa.fa-plus
          New page
      %li
        - if page.is_root?
          = link_to edit_page_path(page.slug, is_root: true), remote: true do
            %i.fa.fa-cog
            Edit page
        - else
          = link_to edit_page_path(page.slug), remote: true do
            %i.fa.fa-cog
            Edit page
    %ul#quadro-widgets.nav.navbar-nav.navbar-right
      %li#quadro-controls
        Editor advanced:
        .btn-group(role='group')
          %button#quadro-airmode-off.btn.btn-default.navbar-btn(type='button')
            %i.fa.fa-eye
          %button#quadro-airmode-on.btn.btn-default.navbar-btn.active(type='button')
            %i.fa.fa-eye-slash
      %li#quadro-actions
        = link_to '#', id: 'quadro-save' do
          %i.fa.fa-save
          Save
    %ul#quadro-plugins.nav.navbar-nav.navbar-right
      %li
        = link_to '#', id: 'quadro-gallery' do
          %i.fa.fa-picture-o
          Image gallery
