%nav#quadro-toolbar.navbar.navbar-default.navbar-fixed-bottom(role='navigation')
  #quadro-gallery.collapsed
    #quadro-uploader.collapsed(data-page="#{page.id}" data-type='Quadro::Asset::Image' data-path="#{page_assets_path(page_id: page.id)}")
    #quadro-images
      - page.images.each do |asset|
        = render 'quadro/assets/image', image: asset
  .container-fluid
    .navbar-header
      = link_to root_path, class: 'navbar-brand' do
        = image_tag 'quadro/quadro-logo-mini.png'
    %ul#quadro-pages.nav.navbar-nav.navbar-left
      %li
        = link_to new_page_path(parent_id: page.id), remote: true do
          %i.fa.fa-plus
          New sub page
      %li
        = link_to edit_page_path(page.slug), remote: true do
          %i.fa.fa-cog
          Edit current page
    %ul#quadro-widgets.nav.navbar-nav.navbar-right
      %li#quadro-controls
        Editor advanced:
        .btn-group(role='group')
          %button#quadro-airmode-off.btn.btn-default.navbar-btn(type='button')
            %i.fa.fa-eye
          %button#quadro-airmode-on.btn.btn-default.navbar-btn.active(type='button')
            %i.fa.fa-eye-slash
      %li#quadro-actions
        = link_to '#', id: 'quadro-save' do
          %i.fa.fa-save
          Save changes
      %li.dropdown
        %a.dropdown-toggle(href="#" data-toggle="dropdown")
          = gravatar_image_tag(current_user.email, alt: current_user.email, title: current_user.email, gravatar: { size: 16 }, class: 'img-rounded')
          = current_user.email
          %b.caret
        %ul.dropdown-menu
          %li
            = link_to destroy_user_session_url, method: :delete do
              Sign Out
    %ul#quadro-plugins.nav.navbar-nav.navbar-right
      %li
        = link_to '#', id: 'quadro-gallery-toggle' do
          %i.fa.fa-picture-o
          Image gallery
