#quadro-toolbar.navbar.navbar-fixed-bottom
  #quadro-gallery.well.well-sm.collapsed
    #quadro-uploader.asset-dropper(data-assetable-type='Quadro::Page' data-assetable-id="#{page.id}" data-type='Quadro::Asset::Image' data-path="#{page_assets_path(page_id: page.id)}")
    #quadro-images.asset-list.clearfix(data-assetable-type='Quadro::Page' data-assetable-id="#{page.id}")
      - page.images.each do |image|
        = render 'quadro/assets/image/image', asset: image, page: page
  #quadro-controls.well.well-sm.clearfix
    .pull-left
      = link_to root_path, class: "quadro-brand" do
        = image_tag 'quadro/quadro-logo-mini.png'
      = link_to new_page_path(parent_id: page.id), remote: true, class: "btn btn-default btn-sm hidden-xs" do
        %i.fa.fa-plus
        New sub page
      = link_to edit_page_path(page.slug), remote: true, class: "btn btn-default btn-sm hidden-xs" do
        %i.fa.fa-pencil
        Edit
      = link_to page_path(page.slug), remote: true, method: "delete", confirm: "Are you sure of delete this page?", class: "btn btn-default btn-sm hidden-xs" do
        %i.fa.fa-trash-o
        Delete
      - unless page.is_root?
        - if page.published?
          = link_to unpublish_page_path(page.slug), remote: true, class: "btn btn-default btn-sm hidden-xs" do
            %i.fa.fa-eye-slash
            Unpublish
        - else
          = link_to publish_page_path(page.slug), remote: true, class: "btn btn-default btn-sm hidden-xs" do
            %i.fa.fa-eye
            Publish
      .btn-group.visible-xs-inline-block(role='group')
        = link_to new_page_path(parent_id: page.id), remote: true, class: "btn btn-default btn-sm" do
          %i.fa.fa-plus
        = link_to edit_page_path(page.slug), remote: true, class: "btn btn-default btn-sm" do
          %i.fa.fa-pencil
        = link_to page_path(page.slug), remote: true, method: "delete", confirm: "Are you sure of delete this page?", class: "btn btn-default btn-sm" do
          %i.fa.fa-trash-o
        - unless page.is_root?
          - if page.published?
            = link_to unpublish_page_path(page.slug), remote: true, class: "btn btn-default btn-sm" do
              %i.fa.fa-eye-slash
          - else
            = link_to publish_page_path(page.slug), remote: true, class: "btn btn-default btn-sm" do
              %i.fa.fa-eye
    .pull-right
      %a#quadro-save.btn.btn-default.btn-sm.hide
        %i.fa.fa-floppy-o
        Save changes
      %a#quadro-gallery-toggle.btn.btn-default.btn-sm.hidden-xs.hidden-sm
        %i.fa.fa-picture-o
        Image gallery
      %span.hidden-xs.hidden-sm Editor:
      .btn-group.hidden-xs.hidden-sm(role='group')
        %button#quadro-airmode-off.btn.btn-default.btn-sm(type='button')
          %i.fa.fa-toggle-on
        %button#quadro-airmode-on.btn.btn-default.btn-sm.active(type='button')
          %i.fa.fa-toggle-off
      .btn-group.dropup.hidden-xs
        %button.btn.btn-default.btn-sm.dropdown-toggle(type='button' data-toggle='dropdown')
          = gravatar_image_tag(current_user.email, alt: current_user.email, title: current_user.email, gravatar: { size: 16 }, class: 'img-rounded')
          = current_user.email
          %b.caret
        %ul.dropdown-menu
          - unless Rails.env.development?
            %li
              = link_to sitemap_notifier_path, remote: true do
                %i.fa.fa-sitemap
                Notify sitemap.xml
          %li
            = link_to edit_user_path, remote: true do
              %i.fa.fa-user
              Edit user
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out
              Sign Out
      = link_to destroy_user_session_url, method: :delete, class: "btn btn-default btn-sm visible-xs-inline-block hidden-sm" do
        Sign Out
